* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  font-size: 10px;
  background: url("../img/Background.png") repeat;
}

.wrapper {
  max-width: 102.4rem;
  margin: 0 auto;
  font-size: 1.3rem;
  color: #000;
}

.header {
  width: 100%;
  background-color: rgba(241, 241, 241, 0.5);
  box-shadow: 0 0.5rem 0.9rem rgb(230, 230, 230);
}
.navigation {


}

.menu {
  display: grid;
  grid-template: 2rem / repeat(6, 12rem);
  grid-column-gap: 5rem;
  padding: 2rem;
  font-size: 1.6rem;
  text-align: center;
  list-style-type: none;
  color: rgb(150, 150, 150);
}