* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  font-style: normal;
  font-size: 10px;
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  background: url("../img/Background.png") repeat;
}

.container {
  max-width: 102.4rem;
  margin: 0 auto;
  font-size:1.5rem;
  text-align: justify;
  color: rgb(80, 100, 100);
}

.header {
  width: 100%;
  background-color: rgba(241, 241, 241, 0.5);
  box-shadow: 0 0.5rem 0.9rem rgb(230, 230, 230);
}
.navigation {
  max-width: 102.4rem;
  margin: 0 auto;
  font: normal 1.5rem/1.5 "Arial", sans-serif;

}

.menu {
  display: grid;
  grid-template: 2rem / repeat(6, 12rem);
  grid-column-gap: 5rem;
  padding: 2rem;
  font-size: 1.6rem;
  text-align: center;
  list-style-type: none;
  color: rgb(150, 150, 150);
}

.author {
  display: grid;
  grid-template: 28rem /30% 70%;
}

.main {
  padding: 5rem;
}

.link {
  text-decoration: none;
  color: rgb(154,115,154);
}

.subtitle {
  color: rgb(154,115,154);
  padding-top: 2rem;
}

.list {
  list-style: none;
  padding-left: 1rem;
}

.list-item::before {
  content: "•";
  padding-right: 1rem;
  color: rgb(154,115,154);
}

.line {
  border: 0;
  height: 0;
  box-shadow: 0 0 1rem 0.1rem rgb(154,115,154);;
}

.inner {
  padding-bottom: 1rem;
}